@import url('https://fonts.googleapis.com/css?family=Metal+Mania:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700&display=swap');

body{
    margin: 0;
    padding: 0;
}

h1{
    color:#777;
    font-family: "metal mania";
    font-size: 150px;
    text-align: center;
    margin-top: 5%;
}

.navback{
    background-color: #777;
}

.navbar .navbar-brand{
    font-size:30px;
    font-family: "metal mania";
    transition: color 0.5s ease-in-out;
    color: #f2ebeb;
}

.navbar .navbar-brand:hover{
    color: red;
}

.navbar .navbar-nav{
    margin-right: 0;
}

.navbar .nav-item .nav-link{
    color:#f2ebeb;
    font-family: "metal mania";
    text-align: right;
}

.navbar .nav-item .nav-link:hover{
    color: red;
    transition: color 0.5s ease-in-out;
}

.navbar .navbar-toggler icon{
    color:#f2ebeb;
}


h2{
    color:#f2ebeb;
    text-align: center;
    font-family: "Roboto";
    text-transform: capitalize;
    margin-top: 15px;
    background-color: #777;
}

h3{
    color: #f2ebeb;;
}

h4{
    color: green;
}

h5{
    color: purple;
}

h6{
    color: orange;
}

p{
    letter-spacing: 3px;
    padding: 20px;
    font-family: "Roboto";
}

.top-image{
    background-image: url(/assets/img/band3.jpg);
    height: 50vh;
    background-size:cover;
    width: 100vw ;
    background-position: center;
}

 .top-image-tour{
    background-image: url(/assets/img/tour.jpg);
    height: 50vh;
    background-size:cover;
    width: 100vw;
    background-repeat:no-repeat;
    background-position: center;
}

.top-image-merch{
    background-image: url(/assets/img/merch.jpg);
    height: 50vh;
    background-size:cover;
    width: 100vw ;
}


.center-image{
    background-image: url(/assets/img/ban.jpg);
}

.footer{
background-color:#777;
}

ul{
margin: 0 auto;
padding: 0;
}

ul li{
display: inline;
font-size: 150%;
margin-left: 30px;
}

ul li i{
color:  #f2ebeb;
transition: color 0.5s ease-in-out;
}

ul li i:hover{
    color: red;
}

.btn{
    background-color:none;
    color: #777;
    border: 0;
    
}

.btn:hover{
    color: red;
    transition: color 0.5s ease-in-out;
}

/*.logo{
    background: url("../img/tour.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;*/
}

.repo{
    height:50vh;
}

.btn .btn-lg{
    padding-left: 40%;
}

#album li{
    color:#212529;
    letter-spacing: 2px;
    padding: 5px;
    font-size: 16px;
    display: block;
    font-family: "Roboto";
    text-align: center;
}

#album{
    margin-top:20px;
}

