@import url('https://fonts.googleapis.com/css?family=Metal+Mania:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700&display=swap');

body{
    margin: 0;
    padding: 0;
}

h1{
    color: red;
    font-family: "metal mania";
    font-size: 100px;
}

h2{
    color: blue;
}

h3{
    color: yellow;
}

h4{
    color: green;
}

h5{
    color: purple;
}

h6{
    color: orange;
}

.top-image{
    background-image: url(/assets/img/band2.jpg);
}


.center-image{
    background-image: url(/assets/img/ban.jpg);
}

.footer{
background-color: #777;
}

ul{
margin: 0 auto;
}

ul li{
display: inline;
font-size: 150%;
margin-left: 30px;
}

ul li i{
color:  #f2ebeb;
}

ul li i:hover{
    color: #c23c32;
}